cat << EOS
# ~/.local/share/applications/com.bitwarden.desktop
# Bitwarden Password Manager - https://bitwarden.com/

[Desktop Entry]
Version=1.0
Type=Application
Name=Bitwarden
GenericName=Password Manager
Comment=Open Source Password Manager for Business
Keywords=bitwarden;password;manager;
Exec=${_LOCAL}/bin/bitwarden-desktop
TryExec=${_LOCAL}/bin/bitwarden-desktop
Icon=${_LOCAL}/opt/bitwarden/bitwarden-icon-128.png
Terminal=false
Categories=Utility;Security;Other
StartupNotify=true
StartupWMClass=bitwarden
EOS
